.navbar {
  margin-bottom: 1em;
}

.card {
  width: 18rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cardDeck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.space-button {
  margin-bottom: 1rem;
}

.space-right {
  margin-right: 1rem;
}

.delete-checkbox {
  text-align: left;
  position: relative;
  top: -5px;
}